.pending {
  color: #ffffff;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #ffffff;
  text-underline-offset: 10px;
  text-transform: uppercase;
}
